.deps/
autom4te.cache/
compat/jansson/.deps/
*.o
*.a
*~
*.swp
stamp-h1
Makefile.in
cpuminer-config.h.in
Makefile
compat/Makefile
compat/jansson/Makefile
config.log
config.status
configure
cpuminer-config.h
cudaminer
